.alert {
    background: rgb(88, 121, 23);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    z-index: 9;
}

.error {
    background-color: rgb(141, 98, 18);
}

.alert span.icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}