.App-logo {
  height: 10vh;
  pointer-events: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 19px;
  line-height: 21px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

